In [1]:

import sys
sys.path.insert(0, '../../')
from src.utils.preprocessing import to_lower
from src.utils.preprocessing import remove_html_tag
from src.utils.preprocessing import remove_url
from src.utils.preprocessing import remove_punctuation
from src.utils.preprocessing import remove_number
from src.utils.preprocessing import remove_stopword
from src.utils.preprocessing import remove_n_chars
from src.utils.preprocessing import lemmatize_word

from nltk.corpus import stopwords

import pandas as pd
import pickle

In [2]:
df_reviews = pd.read_json(f'../../data/interim/final/labelled_reviews_by_ratings.json.gz', orient="records", compression="gzip")
df_reviews.head()

,user_id,product_id,ratings,review_text,summary,created_at,sentiment
0,A0203183BAH3TR08FZGB,B0043T7FHK,5,I got this to run as a dual monitor. This is ...,This is my second time purchasing this monitor...,2015-06-30,1
1,A0261431Y0V4MHWY4B7W,B00AFH2E8E,4,"Not as good as I had hoped, music is very low,...",Bluetooth headset,2014-08-03,1
2,A034116598G557EYZ9BC,B0013FRNKG,5,Appreciate if product\nNeed to buy one more if...,great value,2012-11-28,1
3,A0404374X0HL5T332XSN,B00MNOPS1C,3,You get what you pay for,Three Stars,2016-02-02,1
4,A0431622H67YR5IPJRN,B0058UUR6E,5,Arrived in 2 days. working great. Recommend to...,working great. Recommend to others,2015-03-11,1

In [3]:
df_reviews['cleaned_review'] = df_reviews['review_text'] + ' ' + df_reviews['summary']
df_preprocessing = df_reviews[['cleaned_review', 'sentiment']].copy()
df_preprocessing.head(5)

                                      cleaned_review  sentiment
0  I got this to run as a dual monitor.  This is ...          1
1  Not as good as I had hoped, music is very low,...          1
2  Appreciate if product\nNeed to buy one more if...          1
3               You get what you pay for Three Stars          1
4  Arrived in 2 days. working great. Recommend to...          1

In [4]:
df_preprocessing['cleaned_review'] = df_preprocessing['cleaned_review'].apply(to_lower)
df_preprocessing.head(5)

                                      cleaned_review  sentiment
0  i got this to run as a dual monitor.  this is ...          1
1  not as good as i had hoped, music is very low,...          1
2  appreciate if product\nneed to buy one more if...          1
3               you get what you pay for three stars          1
4  arrived in 2 days. working great. recommend to...          1

In [5]:
df_preprocessing['cleaned_review'] = df_preprocessing['cleaned_review'].apply(remove_html_tag)
df_preprocessing.head(5)

                                      cleaned_review  sentiment
0  i got this to run as a dual monitor.  this is ...          1
1  not as good as i had hoped, music is very low,...          1
2  appreciate if product\nneed to buy one more if...          1
3               you get what you pay for three stars          1
4  arrived in 2 days. working great. recommend to...          1

In [6]:
df_preprocessing['cleaned_review'] = df_preprocessing['cleaned_review'].apply(remove_url)
df_preprocessing.head(5)

                                      cleaned_review  sentiment
0  i got this to run as a dual monitor.  this is ...          1
1  not as good as i had hoped, music is very low,...          1
2  appreciate if product\nneed to buy one more if...          1
3               you get what you pay for three stars          1
4  arrived in 2 days. working great. recommend to...          1

In [7]:
df_preprocessing['cleaned_review'] = df_preprocessing['cleaned_review'].apply(remove_punctuation)
df_preprocessing.head(5)

                                      cleaned_review  sentiment
0  i got this to run as a dual monitor  this is m...          1
1  not as good as i had hoped music is very low p...          1
2  appreciate if product\nneed to buy one more if...          1
3               you get what you pay for three stars          1
4  arrived in 2 days working great recommend to o...          1

In [8]:
df_preprocessing['cleaned_review'] = df_preprocessing['cleaned_review'].apply(remove_number)
df_preprocessing.head(5)

                                      cleaned_review  sentiment
0  i got this to run as a dual monitor  this is m...          1
1  not as good as i had hoped music is very low p...          1
2  appreciate if product\nneed to buy one more if...          1
3               you get what you pay for three stars          1
4  arrived in  days working great recommend to ot...          1

In [9]:
stop_words = set(stopwords.words('english'))
stop_words.remove('no')
stop_words.remove('not')

df_preprocessing['cleaned_review'] = df_preprocessing['cleaned_review'].apply(lambda x: remove_stopword(x, stop_words))
df_preprocessing.head(5)

                                      cleaned_review  sentiment
0  got run dual monitor second time purchasing mo...          1
1  not good hoped music low phone volume pretty g...          1
2  appreciate product need buy one promotion need...          1
3                                get pay three stars          1
4  arrived days working great recommend others wo...          1

In [10]:
df_preprocessing['cleaned_review'] = df_preprocessing['cleaned_review'].apply(remove_n_chars)
df_preprocessing.head(5)

                                      cleaned_review  sentiment
0  got run dual monitor second time purchasing mo...          1
1  not good hoped music low phone volume pretty g...          1
2  appreciate product need buy one promotion need...          1
3                                get pay three stars          1
4  arrived days working great recommend others wo...          1

In [11]:
df_preprocessing['cleaned_review'] = df_preprocessing['cleaned_review'].apply(lemmatize_word)
df_preprocessing.head(5)

                                      cleaned_review  sentiment
0  get run dual monitor second time purchase moni...          1
1  not good hop music low phone volume pretty goo...          1
2  appreciate product need buy one promotion need...          1
3                                 get pay three star          1
4  arrive day work great recommend others work gr...          1

In [12]:
df_preprocessing[[
    "cleaned_review",
    "sentiment"
]].to_json(
    '../../data/processed/reviews.json.gz', compression="gzip", orient="records", indent=2
)